html {
  background-image:url("/winlabsd2021/static/imgs/map-bg2.jpg");
  background-attachment: fixed;
  color: gray;
  font-family: "Futura", sans-serif;
  max-width: 800px;
  display:flex;
  margin: auto;
}


body {
  padding: 16px;
  flex-direction: column;
  flex 0 1 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
}


.many-pics figure{
    margin:0px 10px;
    display:inline-block;
    text-decoration:none;
    color:white;
}

div {
  margin-top: 100px;
  margin-bottom: 100px;
}


img {
  height: 200px;

}

a{
  color: gray;
}

p{
font-family:Futura;
font-size: 12px;
margin-bottom: 50px;
margin-top: 25px;
}
